<h1><%= release_logs_label_for(:warning) %></h1>

<div class="box error">
    <div class="release-log-error"><strong><%= message %></strong></div>
    <div class="release-log-info">
        <%= release_logs_label_for(:admin_warning)%>
    </div>
</div>
