/* Menu */
#admin-menu a.release-logs { background-image: url('/images/table_multiple.png'); }
#admin-menu a.release-log-queues { background-image: url('/images/copy.png'); }

/* Form */
form.release-log-form input.wide { width: 99%; }
td.release-log-entry-issue-column { vertical-align: middle !important; width: 300px; }
td.release-log-entry-note-column { text-align: justify !important; }

.release-log-entry-field-container .splitcontentleft { width: 30% !important; }
.release-log-entry-field-container .splitcontentright { width: 68% !important; }

.release-log-action-container { display: none; margin-top: 60px; clear: both;}
.preview-release-log { margin-left: 10px; }
#release_preview_log_container { display: none; margin-top: 20px; }
.release-log-close-preview { font-size: 12px; }

form.release-log-query legend { font-weight: bold; color: #116186; }
form.release-log-query fieldset { border-radius: 5px; margin-bottom: 10px; }

/* Icons */
.icon-rollback { background-image: url('/images/bullet_end.png'); }
.icon-preview { background-image: url('/images/magnifier.png'); }
.icon-false { background-image: url('/images/false.png'); }
.icon-cancel-release { background-image: url('/images/warning.png'); }
.icon-notification { background-image: url('/images/news.png'); }
.icon-notification-publish { background-image: url('/images/group.png'); }
.icon-notification-success { background-image: url('/images/ticket_checked.png'); }
.icon-notification-cancel { background-image: url('/images/cancel.png'); }
.icon-notification-rollback { background-image: url('/images/bullet_end.png'); }

.icon-status-released { background-image: url('/images/toggle_check.png'); }

td.justified { text-align: justify !important; }

.release-log-list p { margin: 12px 0; }
.release-log-list .release-log-title { background: #eeeeee; text-align: left; font-size: 18px; font-weight: bold; padding: 10px; }
.release-log-list th { border: 1px solid #add7f3; background: #eaf7ff !important; padding: 6px !important; }
.release-log-list td.release-log-id { vertical-align: middle; }
.release-log-list td.release-log-user-information { vertical-align: middle; }
.release-log-list td.release-log-status { vertical-align: middle; }
.release-log-list td.release-log-status.released { color: #087738; }
.release-log-list td.release-log-status.draft { color: #ccc; }
.release-log-list td.release-log-status.rolled_back { color: #8A0808; }
.release-log-list td.release-log-status.cancelled { color: #B45F04; }
.release-log-list td.release-log-status.pending_release { color: #3B5546; }
.release-log-list td.release-log-project { font-weight: bold; vertical-align: middle; }
.release-log-list td.release-log-column-description { max-width: 400px; }
.release-log-list .release-log-column-preview { text-align: justify; max-height: 150px; overflow: auto; display: inline-block; position: relative; left: 0; right: 0; width: 100%; }
.release-log-list td { border-bottom: 1px solid #d5d5d5 }
h2.release-log-header a.release-log-action { font-size: 14px; float: right; }

.release-log-results { margin-top: 20px; }

.release-log-list td.release-log-release-date, .release-log-list td.release-log-actions { vertical-align: middle; }

.release-log-list td.issue-column { width: 10%; font-size: 14px; font-weight: bold; }
.release-log-list td.note-column { width: 90%; }
.release-log-list td.note-column h4 { border-bottom: 0 none; }
.release-log-list td.category-title { font-size: 14px; font-weight: bold; background: #666; color: #fff; text-align: left; }

/* Typography */
.release-log-error { color: #8A0808; }
.release-log-warning { color: #B45F04;  }
.release-log-success { color: #0B6121; }
.release-log-info { color: #8B8787; }
