<h1 style="font-size: 16px; font-weight: bold; background: #8A0808; border: 1px solid #610B0B; color: #fff; padding: 10px; margin-bottom: 5px;"><%= @release_log.project.name %>
    - Release rollback notification</h1>
<br/>
<span style="font-size: 14px;">
    <%= release_logs_label_for(:release_rollback_message,
                               :release_identifier => link_to("#{@release_log.identifier}", release_log_url(@release_log, :project_id => @release_log.project.identifier)),
                               :project_name => @release_log.project.name,
                               :date => format_time(@release_log.rolled_back_at),
                               :user => @release_log.rollbacker.name).html_safe %>
</span>
<br/>
<br/>
<hr style="background: #8A0808"/>
<br/>
<h1 style="font-size: 16px; font-weight: bold; color: #8A0808;">Rollback reason</h1>
<%= release_log_textilizable @release_log, :rollback_reason, @release_log.attachments %>
<br/>
